<body>
  <h2>You have asked to reset password for your Ubblu account</h2>
  <h3>
    Please click on <a href="<%= url %>"><%= url %></a> to reset your password
  </h3>
  <h3>
    Thanks, <br />
    Ubblu Team
  </h3>
</body>
