<body>
  <h2>New Signup on <b>Ubblu</b></h2>
  <h3>
    Congratulations, New user has confirmed his registration on ubblu. Below are
    the details
  </h3>
  <table>
    <tr>
      <td><b>Email</b></td>
      <td><%= email %></td>
    </tr>
    <tr>
      <td><b>Username</b></td>
      <td><%= username %></td>
    </tr>
  </table>
</body>
